# Python
__pycache__/
*.py[cod]
*.pyo
.eggs/
*.egg-info/
dist/
build/

# uv / virtualenv
.venv/
.python-version

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# macOS
.DS_Store

# IDEs
.vscode/
.idea/

# Env
.env
*.env
